<div class="container-fluid bg-light mt-auto">
    <div class="container">
        <footer class="row py-5 mt-5">
            <div class="col-md-5">
                <h3 class="fw-bold">Everything Of Life</h3>
                <p>The meaning of "everything in life" is subjective and can vary from person to person. It encompasses the pursuit of happiness, fulfillment, growth, and the realization of individual goals and aspirations. It encompasses relationships, accomplishments, personal development, contributions to society, and the search for purpose and significance.</p>
                <div>
                    <h6>Social Networks:</h6>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="col-md-2">
                <h5 class="fw-bold">About Us</h5>
                <ul class="nav flex-column" style="padding-left: 15px;">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">→ Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">→ Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">→ Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">→ FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">→ About</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <h5 class="fw-bold">Fanpage</h5>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=500&height=220px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="220px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </footer>
    </div>
</div>